<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
    </head>
    <body>
        <a href="/logs/?number=10">top10</a>
        <a href="/logs/?number=20">top20</a>
        <a href="/logs/?number=50">top50</a>
        <a href="/logs/?number=100">top100</a>
        <table border="1">
            <th>
                <tr>
                    <td align="center">ID</td>
                    <td>IP</td>
                    <td>Url</td>
                    <td>Code</td>
                    <td>Count</td>
                </tr>
            </th>
            <tbody>
                {% for node in content %}
                <tr>
                    <td> { $index }</td>
                    <td>{{ node[0][0]}}</td>
                    <td>{{ node[0][1]}}</td>
                    <td>{{ node[0][2]}}</td>
                    <td>{{ node[1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>